* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.7em
}

h1,h2,h3 {
  padding-bottom: 20px; 
}


a {
  text-decoration: none;
  cursor: pointer;
  color: white;

}

.container {
  padding: 0 20px;
  overflow: auto;
  max-width: 1100px;
  margin: auto;

}
/** 
 * Homepage 
 */

/* Header -- Navbar */
.logo {
  padding-top:20px;
  color: white;
  float: left;
}

#nav-header ul {
  float: right;
}
#nav-header ul li {
  float:left;
  list-style: none;
  padding: 20px;
  text-align: center;
  
}


#nav-header ul li a.current {
  padding:22px;
  color: #f7c08a;
  background: #444444
}
/* Header -- Showcase */
#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 400px;
}
#showcase .showcase-content {
  padding-top: 170px;
  text-align: center;
  color: #fff;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  padding-bottom: 30px;
}
#showcase .showcase-content p {
  padding-bottom: 20px;
}
/* Info Section */
#home-info {
  height: 400px;
}
#home-info .info-image {
  background: url('../img/photo-1.jpg') no-repeat;
  width: 50%;
  min-height: 100%;
  float: left;
  
}

#home-info .info-content {
  padding: 50px 30px;
  text-align: center;
  color: #fff;
  float: right;
  width: 50%;
}

#home-info .info-content p {
  padding-bottom: 20px;
}

/* Features Section */

/* Footer */

#main-footer {
  /* padding: 20px; */
  text-align: center;
  color:#fff;
  background:#444444;

}

/** 
 * About Page
 **/
 
 /* #about-showcase {
  height: 400px;
 } */
#about-showcase .about-showcase-content {
  width: 50%;
  float: left;
  min-height: 100%;
}
#about-showcase .about-showcase-content h1 {
  font-size: 40px;
}
#about-showcase .about-showcase-photo {
  float: right;
  width: 50%;
  min-height: 100%;
}
#about-showcase .about-showcase-photo img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

/* Testimonials */
#testimonials {
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  height: 600px;
  padding-top: 100px;
  text-align: center;
}
#testimonials h2 {
  padding-bottom: 40px;
  color: white;
}
#testimonials .testimonial {
  border-radius: 5px;
  padding: 20px 40px 40px 40px;
  margin-bottom: 40px;
  opacity: 0.9;
}
#testimonials .testimonial img {
  float: left;
  width: 60px;
  margin-right: 20px;
  border-radius: 50%;
  
}

/* Contact Page */

/* Contact Form */

#contact-form .form-group label {
  display: block;
}
#contact-form .form-group input, #contact-form .form-group textarea {
  display:block;
  margin-bottom: 20px;
  width: 100%;
  border: 1px #ddd solid;
}
#contact-form .form-group input {
  height: 40px;
  border-radius: 5px;
}
#contact-form .form-group textarea {
  height: 100px;
}
#contact-form .form-group input:focus,#contact-form .form-group textarea:focus  {
  outline: none;
  border-color: #f7c08a;
}
/* Utility Classes */
.clr {
  clear: both;
}
.box {
  float:left;
    width: 33.3%;
    text-align: center;
    padding: 50px;
  }

/* backgrounds */
.bg-dark {
  background: #333333;
  color: #f4f4f4;
}

.bg-light {
  background: #f4f4f4;
  color: #333333;
}

.bg-primary {
  background: #f7c08a;
  color:#444444;
}
/* text colors */
.primary-text {
  color: #f7c08a;
}
/* headings */

.l-heading {
  font-size: 40px;
}
/* Buttons */

.btn {
  font-size: 18px;
  background-color: #333333;
  padding: 13px 20px;
  border: 1px;
  cursor: pointer;
  color: #fff;
}

.btn-light {
  background: #fff;
  color: #333333;
}
.btn:hover {
  color: #f7c08a;
}

/* Different paddings */

.py-1 {
  padding: 10px 0;
}

.py-3 {
  padding: 30px 0;
}